<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>블로그 메인</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>블로그 게시글</h1>
        <a href="{{ url_for('posts.create_form') }}">[+] 새 글 작성</a>
        <hr>
        {% if posts %}
            {% for post in posts %}
              <h2><a href="{{ url_for('posts.get_post', id=post.id) }}">{{ post.title }}</a></h2>
        {% else %}
        <p>게시글이 없습니다.</p>
        {% endfor %}
        {% else %}
            <p>게시글이 없습니다.</p>
        {% endif %}
    </div>
</body>
</html>


